<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>MENU</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <h1>MENU</h1>
    <div class="m">
        <a href="/nouveau-professeur">ENREGISTRER LES DONNEES D'UN NOUVEAU PROFESSEUR </a>
        <br/>
        <br/>
        <a href="/nouvelle-option">ENREGISTRER LES DONNEES D'UNE NOUVELLE OPTION </a>
        <br/>
        <br/>
        <a href="/nouvelle-eleve">ENREGISTRER LES DONNEES D'UN NOUVEL ELEVE </a>
        <br/>
        <br/>
        <a href="/supprimer-eleve">SUPPRIMER LES DONNEES D'UN ELEVE </a>
        <br/>
        <br/>
        <a href="/jour-professeur">METTRE A JOUR LES DONNEES D'UN PROFESSEUR</a>
        <br/>
        <br/>
        <a href="/eleve-option">OBTENIR LA LISTE DES ELEVES D'UNE OPTION </a>
        <br/>
        <br/>
        <a href="/eleve-matiere">OBTENIR LA LISTE DES ELEVES D'UNE MEME MATIERE </a>
        <br/>
        <br/>
        <a href="/professeur-eleve">OBTENIR LE PROFESSEUR DE L'OPTION POUR UN ELEVE </a>
        <br/>
    </div>
</body>

</html>